/dataset_islab_v3
/dataset_mel
/dataset
/dataset_mel_final
/dataset_mel_save
/dataset_mel_final_augmented
/processing_audios/.ipynb_checkpoints
/models/first/.ipynb_checkpoints
/models/second/.ipynb_checkpoints
/models/third/.ipynb_checkpoints
/models/fourth/.ipynb_checkpoints
/models/fith/.ipynb_checkpoints
/models/test/.ipynb_checkpoints
/examples
/previous_datasets
/models/logs
/models/*.h5
/models/first/logs
/models/first/*.h5
/models/second/logs
/models/second/*.h5
/models/second/*.pth
/models/third/logs
/models/third/*.h5
/models/third/*.pth
/models/fourth/logs
/models/fourth/*.h5
/models/fourth/*.pth
/models/fith/logs
/models/fith/*.h5
/models/fith/*.pth
/models/test/logs
/models/test/*.h5
/models/test/*.pth